@import "bootstrap-sprockets";
@import "bootstrap";
@import "flag-icon";

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:50%;
    width: 96%;
}

.carousel-content{
      color:black;
      display:flex;
      align-items:center;
}
.bloque{
  overflow: hidden;
    background-color: blue;
    height: auto;
    width: 100%;
    border: black 1px solid;
    margin: 10px;
    float: left;
}
