@import "bootstrap-sprockets";
@import "bootstrap";
@import "flag-icon";

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:50%;
    width: 96%;
}

.carousel-content{
      color:black;
      display:flex;
      align-items:center;
}
